<div class="home-container">
    <form class="example-form">
        <mat-form-field>
          <mat-label>Filter by Area</mat-label>
          <input type="text"
                 aria-label="Area"
                 matInput
                 [formControl]="areaControl"
                 [matAutocomplete]="autoArea">
                 <mat-autocomplete #autoArea="matAutocomplete" (optionSelected)="onAreaSelected($event)">
                     @for (area of filteredAreas | async; track trackByAreaFn) {
                       <mat-option [value]="area.strArea">{{area.strArea}}</mat-option>
                     }
                 </mat-autocomplete>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Filter by Category</mat-label>
          <input type="text"
                 aria-label="Category"
                 matInput
                 [formControl]="categoryControl"
                 [matAutocomplete]="autoCategory">
                 <mat-autocomplete #autoCategory="matAutocomplete" (optionSelected)="onCategorySelected($event)">
                     @for (category of filteredCategories | async; track trackByCategoryFn) {
                       <mat-option [value]="category.strCategory">{{category.strCategory}}</mat-option>
                     }
                 </mat-autocomplete>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Filter by Ingredient</mat-label>
          <input type="text"
                 aria-label="Ingredient"
                 matInput
                 [formControl]="ingredientControl"
                 [matAutocomplete]="autoIngredient">
                 <mat-autocomplete #autoIngredient="matAutocomplete" (optionSelected)="onIngredientSelected($event)">
                     @for (ingredient of filteredIngredients | async; track trackByIngredientFn) {
                       <mat-option [value]="ingredient.strIngredient">{{ingredient.strIngredient}}</mat-option>
                     }
                 </mat-autocomplete>
        </mat-form-field>
      </form>
    <div class="search-section">
        <form (ngSubmit)="onSearch()" class="search-form">
            <div class="search-input-group">
                <mat-form-field>
                <input matInput type="text" [(ngModel)]="searchQuery" placeholder="Search for meals..." class="search-input"
                    name="searchQuery" #searchInput="ngModel" required>
                </mat-form-field>
                <button matFab aria-label="Search button" class="search-button" type="submit">
                    <mat-icon>search</mat-icon>
                  </button>
            </div>
        </form>
    </div>

    <app-grid-recipe></app-grid-recipe>
</div>